<div id="header-wrapper">
    <div class="container">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <h1><a asp-action="Index" asp-controller="Home" id="logo"></a>To-Do List</h1>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Головна</a></li>
                        <li><a asp-action="Index" asp-controller="Task">Мої завдання</a></li>
                        <li><a asp-action="Logout" asp-controller="Account">Вихід</a></li>
                    </ul>
                </nav>

            </div>
        </header>

    </div>
</div>

