<article>
    <header class="major">
        <h2>Планувальник завдань</h2>
        <p>Коротка інформація про веб-додаток</p>
    </header>

    <p>
        Веб-Додаток «Планувальник завдань» призначений для створення і зберігання інформації про завдання,
        яке запланував виконати користувач. Іноді навіть найважливіша інформація забувається, і потім треба
        докладати значних зусиль для того, щоб вирішувати доволі складні задачі, які поставила перед собою людина.
        Саме тому веб-додаток дозволить поліпшити якість контролю над запланованими завданнями і забезпечить можливість
        отримання даних про них у будь-який момент часу. Крім того, у додатку є можливість встановити пріоритет, статус
        та дату виконання завдання, що дозволить користувачу правильно розподілити свій час, для того щоб успішно виконати
        поставлену задачу.
    </p>

    <span class="image featured"><img src="images/giphy.gif" width="100" height="600" alt="" /></span>

    <h3>Можливості веб-додатку</h3>

    <p>
        Сайт складається з головної сторінки, а також зі сторінки для відображення завдань.
        Сторінка для відображення завдань забезпечує такі можливості:
        <ul class="hr">
            <li>• демонстрація завдань користувача;</li>
            <li>• пошук завдання за назвою;</li>
            <li>• фільтрування відображених завдань;</li>
            <li>• сортування завдань за стовпцями таблиці;</li>
            <li>• створення завдання (назва, опис, пріоритет, статус, дата і час виконання);</li>
            <li>• редагування завдання;</li>
            <li>• видалення завдання.</li>
        </ul>
    </p>
</article>
